.policy {
  h1, h3 {
    color: #489765;
  }

  a {
    color: #489765;
    text-decoration: none;
  }

  p {
    font-size: 18px;
    color: #489765;

  }

  li{
    font-size: 18px;
    color: #489765;

  }

  strong {
    color: #489765;
  }
}
